.combinedCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 40px);
  height: 100vh;
  z-index: -1;
  display: block;
}

.relativeContainer {
  position: relative;
}

.controlGroup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: monospace;
  pointer-events: none;
  opacity: 0.8;
  width: 200px;
  color: white;
  mix-blend-mode: difference; /* allow visibility on different background colors: https://stackoverflow.com/a/58460326 */
}

@media (max-width: 800px) {
  .controlGroup {
    display: inline-block;
    position: relative;
    top: unset;
    right: unset;
    opacity: 1;
    width: 100%;
    color: unset;
    mix-blend-mode: unset;
  }
}

.controlGroup > div {
  pointer-events: none;
}
.controlGroup input,
.controlGroup label,
.controlGroup select,
.controlGroup option {
  pointer-events: auto;
}

.singleControl {
  float: right;
  display: flex;
  align-items: center;
  height: 1.7em;
}

.singleControlLabel {
  font-size: medium;
  min-width: 10em;
  text-align: right;
}

.singleControlValue {
  float: right;
  font-size: medium;
  order: 1;
  min-width: 4em;
  white-space: nowrap;
}

.sliderControl {
  opacity: 0.5;
  font-size: large;
  margin-left: 0.3em;
  margin-right: 0.3em;
  min-width: 120px;
}

.checkboxControl {
  opacity: 0.5;
  font-size: large;
  margin-left: 0.3em;
  margin-right: calc(120px + 3em);
}

.canvasOverlay {
  position: absolute;
  left: 0;
  top: 0;
  text-wrap-mode: nowrap;
  padding: 0.5rem 0.8rem;
  user-select: none; /* prevent text selection/highlighting */
  pointer-events: none; /* make overlay transparent to mouse events */
}

.absolute {
  position: absolute;
}
