.graphicRect {
  display: inline-block;
  width: 100%;
  height: unset;
  aspect-ratio: 4/3;
}

.graphicSquare {
  display: inline-block;
  width: 100%;
  height: unset;
  aspect-ratio: 1/1;
}

@media (max-width: 800px) and (orientation: portrait) {
  .graphicRect {
    aspect-ratio: 1/1;
  }
}

.canvasOverlay {
  background-color: black;
}
