.graphicLine {
  display: block;
  width: 100%;
  height: 6rem;
}

.graphicRect {
  display: block;
  width: 100%;
  height: unset;
  aspect-ratio: 4/3;
  overflow: hidden; /* Used with aspect-ratio to prevent content from expanding the container */
}

.graphicSquare {
  display: block;
  width: 100%;
  height: unset;
  aspect-ratio: 1/1;
  overflow: hidden; /* Used with aspect-ratio to prevent content from expanding the container */
}

@media (max-width: 800px) {
  .graphicRect {
    width: unset;
    margin-left: 2rem;
    margin-right: 2rem;
    aspect-ratio: 1/1;
  }

  .graphicSquare {
    width: unset;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.canvasOverlay {
  background-color: black;
}
