:global(body) {
  background-color: black;
  color: #ccc;
  font: 1em sans-serif;
}

:global(.content) {
  max-width: 50rem;
  padding: 0 3em 0 3em;
  margin: auto;
}

:global(dl.inline-term dt:before) {
  content: "";
  display: block;
}

:global(dl.inline-term dt) {
  min-width: 16rem; /* TODO: has no effect because of inline display */
}

:global(dl.inline-term dt),
:global(dl.inline-term dd) {
  display: inline;
}

.overlay {
  background-color: black;
}

.hidden {
  display: none;
}
